        <p-dialog [(visible)]="editContratDialog" [style]="{width: '70vw'}"
                header="Contrat" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Contrat">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Num police<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Num police"
                                                   id="1" [(ngModel)]="selectedContrat.numPolice"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validContratNumPolice}"  />
                                            <small class='p-error' *ngIf='!validContratNumPolice'>NumPolice est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Num attestation<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Num attestation"
                                                   id="2" [(ngModel)]="selectedContrat.numAttestation"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validContratNumAttestation}"  />
                                            <small class='p-error' *ngIf='!validContratNumAttestation'>NumAttestation est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Date effet<span style="color: red;">*</span></label>
                                            <p-calendar id="3"
                                                        placeholder="Date effet"  [(ngModel)]="selectedContrat.dateEffet"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validContratDateEffet}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validContratDateEffet'>DateEffet est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Date echeance<span style="color: red;">*</span></label>
                                            <p-calendar id="4"
                                                        placeholder="Date echeance"  [(ngModel)]="selectedContrat.dateEcheance"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validContratDateEcheance}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validContratDateEcheance'>DateEcheance est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">Date signature<span style="color: red;">*</span></label>
                                            <p-calendar id="5"
                                                        placeholder="Date signature"  [(ngModel)]="selectedContrat.dateSignature"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validContratDateSignature}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validContratDateSignature'>DateSignature est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">Periode<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Periode"
                                                   id="6" [(ngModel)]="selectedContrat.periode"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validContratPeriode}"  />
                                            <small class='p-error' *ngIf='!validContratPeriode'>Periode est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="7">Quittance prime<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="quittancePrimes" [(ngModel)]="selectedContrat.quittancePrimeVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="id"
                                                    placeholder="Quittance prime" [ngClass]="{'ng-invalid ng-dirty' : !validContratQuittancePrime}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validContratQuittancePrime'>QuittancePrime est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatequittancePrime('quittancePrime')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="8">Nature contrat<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="natureContrats" [(ngModel)]="selectedContrat.natureContratVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Nature contrat" [ngClass]="{'ng-invalid ng-dirty' : !validContratNatureContrat}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validContratNatureContrat'>NatureContrat est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatenatureContrat('natureContrat')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="9">Vehicule<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="vehicules" [(ngModel)]="selectedContrat.vehiculeVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Vehicule" [ngClass]="{'ng-invalid ng-dirty' : !validContratVehicule}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validContratVehicule'>Vehicule est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatevehicule('vehicule')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="10">Client</label>
                                            <p-dropdown [options]="clients" [(ngModel)]="selectedContrat.clientVo"
                                                    id="10" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="cin"
                                                    placeholder="Client"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateclient('client')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="p-field p-col-12  p-md-3">
                                        <label>Garantie</label>
                                        <p-multiSelect [options]="contratGarantiesVo" [(ngModel)]="selectedContrat.contratGarantiesVo" defaultLabel="Select un garantie" optionLabel="garantieVo.libelle"  display="chip"></p-multiSelect>
                                    </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-quittance-prime-create-agent></app-quittance-prime-create-agent>
                    <app-nature-contrat-create-agent></app-nature-contrat-create-agent>
                    <app-vehicule-create-agent></app-vehicule-create-agent>
                    <app-client-create-agent></app-client-create-agent>

                            <app-garantie-create-agent></app-garantie-create-agent>

    </p-dialog>
