        <p-dialog [(visible)]="editAdminDialog" [style]="{width: '70vw'}"
                header="Admin" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Admin">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">Numero matricule</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Numero matricule"
                                                   id="1" [(ngModel)]="selectedAdmin.numeroMatricule"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">Email principale</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Email principale"
                                                   id="2" [(ngModel)]="selectedAdmin.emailPrincipale"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">Formation en management</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Formation en management"
                                                    [(ngModel)]="selectedAdmin.formationEnManagement"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Role</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Role"
                                                   id="4" [(ngModel)]="selectedAdmin.role"
                                                     />
                                            
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="5">Credentials non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="selectedAdmin.credentialsNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="6">Enabled</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="selectedAdmin.enabled"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="7">Account non expired</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="7"  [(ngModel)]="selectedAdmin.accountNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="8">Account non locked</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="8"  [(ngModel)]="selectedAdmin.accountNonLocked"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="9">Password changed</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="9"  [(ngModel)]="selectedAdmin.passwordChanged"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">Created at</label>
                                            <p-calendar id="10"
                                                        placeholder="Created at"  [(ngModel)]="selectedAdmin.createdAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="11">Updated at</label>
                                            <p-calendar id="11"
                                                        placeholder="Updated at"  [(ngModel)]="selectedAdmin.updatedAt"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="12">Username</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Username"
                                                   id="12" [(ngModel)]="selectedAdmin.username"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">Password</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Password"
                                                   id="13" [(ngModel)]="selectedAdmin.password"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="14">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="14" [(ngModel)]="selectedAdmin.prenom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="15">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="15" [(ngModel)]="selectedAdmin.nom"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
