        <p-dialog [(visible)]="editQuittancePrimeDialog" [style]="{width: '70vw'}"
                header="Quittance prime" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Quittance prime">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Prime nette<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="1"
                                                           placeholder="Prime nette"
                                                    [(ngModel)]="selectedQuittancePrime.primeNette" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimePrimeNette}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimePrimeNette'>PrimeNette est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Taxe<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                           placeholder="Taxe"
                                                    [(ngModel)]="selectedQuittancePrime.taxe" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeTaxe}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimeTaxe'>Taxe est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Accessoires</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Accessoires"
                                                   id="3" [(ngModel)]="selectedQuittancePrime.accessoires"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Total ttc<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="4"
                                                           placeholder="Total ttc"
                                                    [(ngModel)]="selectedQuittancePrime.totalTtc" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeTotalTtc}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimeTotalTtc'>TotalTtc est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Total quittance<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="5"
                                                           placeholder="Total quittance"
                                                    [(ngModel)]="selectedQuittancePrime.totalQuittance" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeTotalQuittance}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimeTotalQuittance'>TotalQuittance est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="6">Total paye<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="6"
                                                           placeholder="Total paye"
                                                    [(ngModel)]="selectedQuittancePrime.totalPaye" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeTotalPaye}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimeTotalPaye'>TotalPaye est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="7">Rest<span style="color: red;">*</span></label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="7"
                                                           placeholder="Rest"
                                                    [(ngModel)]="selectedQuittancePrime.rest" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeRest}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validQuittancePrimeRest'>Rest est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="8">Contrat<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="contrats" [(ngModel)]="selectedQuittancePrime.contratVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="numAttestation"
                                                    placeholder="Contrat" [ngClass]="{'ng-invalid ng-dirty' : !validQuittancePrimeContrat}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validQuittancePrimeContrat'>Contrat est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatecontrat('contrat')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-contrat-create-chercheur></app-contrat-create-chercheur>


    </p-dialog>
